# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

# Prisma
DATABASE_URL=file:./db.sqlite

# Next Auth
# You can generate the secret via 'openssl rand -base64 32' on Linux
# More info: https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=somereallysecretsecret
NEXTAUTH_URL=http://localhost:3000

# Next Auth Google Provider
GOOGLE_ID=1093306371933-si1fukrkvt8j0slah4dq0sdt96eo81as.apps.googleusercontent.com
GOOGLE_SECRET=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

